{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<style>
  /* Make sure the navbar stays at the top and is not covered by the image */
    .header-section {
        position: absolute; /* Fixed or absolute to stay on top of the image */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Ensure the navbar stays above other content */
    }
    .main-menu li:hover .drop-menu {
        display: block;
    }

</style>
</head>
<body>
{% include 'nav.html' %}
<br/>
<br/>
<br/>
<br/>
<br/>

<form method="post">
    {% csrf_token %}
                <p style="color:red;text-align:center;font-size:22px;font-weight:bold">{{msg}}</p>

<table align="center" width="500" height="400">
<tr>

        <td>Name:</td>
        <td><input type="text" name="t4" required class="form-control"></td>

</tr>
    <tr>

        <td>Number</td>
    <td><input type="text" name="t2" pattern="{0-9}" required class="form-control"></td>
    </tr>
    <tr>
        <td>Email:</td>
    <td><input type="email" name="t1"  required class="form-control"></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="password" name="t3" required class="form-control"></td>
    </tr>

    <tr>
        <td>User Type: </td>
        <td><select name="utype" class="form-control">
            <option value="admin">Admin</option>
            <option value="staff">Staff</option>
        </select></td>
    </tr>

    <tr>
      <td> </td>
    <td><input type="submit" value="create an account" class="btn btn-success" style="width:400px;"></td>
    </tr>
</table>
</form>
<!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>